<%= form_for([:admin, comment]) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @commentable %>

    <div class="field">
      Родительский комментарий:
      <%= @commentable.title %>
    </div>

    <%= hidden_field_tag :comment_id, @commentable.id if @commentable %>

  <% else %>

    <div class="field">
      <%= f.label "Вопрос" %><br />
      <%= select_tag :question_id, options_from_collection_for_select(Question.order(:title), :id, :title), {:include_blank => "Ничего не выбрано"} %>
    </div>    

  <% end %>

  <div class="field">
    <%= f.label "Заголовок" %>
    <%= f.text_field :title %>
  </div>  

  <div class="field">
    <%= f.label "Пользователь" %><br />
    <%= f.collection_select :user_id, User.roled(:client), :id, :email, {:include_blank => "Ничего не выбрано"},
  # http://guides.rubyonrails.org/form_helpers.html#select-boxes-for-dealing-with-models
    prompt: 'Выберите клиента' %>          
  </div> 



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
