<p>
  <strong>Заголовок:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Содержимое комментария:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Родитель:</strong>
  <%= @comment.commentable.try(:title) %>
</p>

<p>
  <strong>Тип родителя:</strong>
  <%= @comment.commentable_type %>
</p>

<% if @comment.user %>

	<p>
	  <strong>Пользователь:</strong>
	  <%= @comment.user.email %>
	</p>

<% end %>

<%= link_to 'Редактировать', edit_admin_comment_path(@comment) %> |
<%= link_to 'Назад', admin_questions_path %>
