<%= form_for([:admin, chat_session]) do |f| %>
  <% if chat_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chat_session.errors.count, "error") %> prohibited this chat_session from being saved:</h2>

      <ul>
      <% chat_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Специалист" %><br />
    <%= f.collection_select :specialist_id, User.all, :id, :email, :include_blank => "Ничего не выбрано"
  # http://guides.rubyonrails.org/form_helpers.html#select-boxes-for-dealing-with-models
     %>          
  </div>  

  <div class="field">
    <%= f.label "Клиент" %>
    <%= f.text_field :clientable_id %>
  </div>

  <div class="field">
    <%= f.label "Завершена" %>
    <%= f.check_box :finished %>
  </div>

  <div class="actions">
    <%= f.submit submit_russian_text "Чат-сессию" %>
  </div>
<% end %>
