<h1>Ответы</h1>

<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.title %></td>
        <td><%= link_to 'Показать', [:admin, response] %></td>
        <td><%= link_to 'Редактировать', edit_admin_response_path(response) %></td>
        <td><%= link_to 'Удалить', [:admin, response], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый ответ', new_admin_response_path %>
