<%= form_for([:admin, question]) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Заголовок" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label "Содержимое вопроса" %>
    <%= f.text_area :text, :cols => 40, :rows => 10 %>
  </div>

  <div class="field">
    <%= f.label "Пользователь" %><br />
    <%= f.collection_select :user_id, User.roled(:client), :id, :email, :include_blank => "Ничего не выбрано"
  # http://guides.rubyonrails.org/form_helpers.html#select-boxes-for-dealing-with-models
     %>          
  </div>

   <div class="field">
    <%= f.label "Категория" %>
    <%= f.collection_select :category_ids, Category.order(:name), :id, :name,
  # http://guides.rubyonrails.org/form_helpers.html#select-boxes-for-dealing-with-models
  # http://guides.rubyonrails.org/form_helpers.html#using-form-helpers
                  :include_blank => "Ничего не выбрано" %>

  </div>

  <div class="field">
    <%= f.label "Платный" %>
    <%= f.check_box :charged %>
  </div>  

  <%= render 'layouts/uploaded_files', param: f %>

  <div class="actions">
    <%= f.submit submit_russian_text "Вопрос" %>
  </div>
<% end %>
