<p>
  <strong>Заголовок:</strong>
  <%= @question.title %>
</p>

<% if @question.user %>

	<p>
	  <strong>Клиент:</strong>
	  <%= @question.user.email %>
	</p>

<% end %>

<p>
  <strong>Категория:</strong>
  <%= @question.categories.size > 0 ? @question.categories.first.name : "Не указано" %>
</p>

<%= link_to 'Редактировать', edit_admin_question_path(@question) %> |
<%= link_to 'Назад', admin_questions_path %>
