<h1>Выполненные заказы на документы</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Выбрано клиентом</th> -->
      <th>Содержимое</th>
      <!-- <th>Цена</th> -->
      <th>Создатель</th>
      <th>Документ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_responses.each do |doc_response| %>
      <tr>
<!--         <td><%#= doc_response.chosen %></td> -->
        <td><%= doc_response.text %></td>
        <!-- <td><%#= doc_response.price %></td> -->
        <td><%= doc_response.user.try(:email) %></td>
        <td><%= doc_response.try(:doc_response_request).try(:title) %></td>
        <td><%= link_to 'Показать', [:admin, doc_response] %></td>
        <td><%= link_to 'Редактировать', edit_admin_doc_response_path(doc_response) %></td>
        <td><%= link_to 'Удалить', [:admin, doc_response], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый выполненный заказ на документ', new_admin_doc_response_path %>
