<p>
  <strong>Выбрано клиентом:</strong>
  <%= @doc_response.chosen %>
</p>

<p>
  <strong>Содержимое:</strong>
  <%= @doc_response.text %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @doc_response.price %>
</p>

<p>
  <strong>Создатель:</strong>
  <%= @doc_response.try(:user).try(:email) %>
</p>

<p>
  <strong>Запрос документа:</strong>
  <%= @doc_response.try(:doc_request).try(:title) %>
</p>

<%= render 'layouts/uploaded_files', param: @doc_response %>

<%= link_to 'Редактировать', edit_admin_doc_response_path(@doc_response) %> |
<%= link_to 'Назад', admin_doc_responses_path %>
