<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Создан вопрос</h1>

    <p>
      Вы задали вопрос на сайте http://LiveLaw.info, ваш вопрос будет доступен по адресу: <%= link_to @question.title, api_question_url(@question.id) %>
    </p>

    <p>
      <strong>Заголовок:</strong>
      <%= @question.title %>
    </p>

    <p>
      <strong>Содержимое:</strong>
      <%= @question.text %>
    </p>


    <% if @password %>

      <p>
        Вы автоматически зарегистрировались на сайте http://LiveLaw.info, Ваши данные:
      </p>

      <p>
        <strong>Логин (email):</strong>
        <%= @email %>
      </p>

      <p>
        <strong>Пароль (автоматически сгенерированный):</strong>
        <%= @password %>
      </p>

        <% if @token %>

        <p>Вы можете подтвердить свой адрес электронной почты, нажав на ссылку ниже:</p>

        <p><%= link_to 'Подтвердить мою электронную почту', user_confirmation_url(confirmation_token: @token) %></p>

        <% end %>

      <p>
        Вы можете изменить свой пароль в Личном кабинете
      </p>


    <% end %>

  </body>
</html>