<%= form_for([:admin, chat_token]) do |f| %>
  <% if chat_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chat_token.errors.count, "error") %> prohibited this chat_token from being saved:</h2>

      <ul>
      <% chat_token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Id: <%= f.object.id %>
  </div>

  <div class="field">
    <%= f.label "Пользователь" %><br />
    <%= f.collection_select :user_id, User.roled(:client).order(:email), :id, :email, {:include_blank => "Ничего не выбрано"},
  # http://guides.rubyonrails.org/form_helpers.html#select-boxes-for-dealing-with-models
    prompt: 'Выберите клиента' %>          
  </div>  

  <div class="field">
    <%= f.label "Чат-логин" %>
    <%= f.text_field :chat_login %>
  </div>  

  <div class="field">
    <%= f.label "Чат-пароль" %>
    <%= f.text_field :chat_password %>
  </div>

  <div class="actions">
    <%= f.submit submit_russian_text "Чат-токен" %>
  </div>
<% end %>
