<h1>Чат-токены</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Пользователь</th>      
      <th>Чат-логин</th>
      <th>Чат-пароль</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chat_tokens.each do |chat_token| %>
      <tr>
        <td><%= chat_token.id %></td>
        <td><%= chat_token.user.try(:email) %></td>        
        <td><%= chat_token.chat_login %></td>
        <td><%= chat_token.chat_password %></td>
        <td><%= link_to 'Показать', [:admin, chat_token] %></td>
        <td><%= link_to 'Редактировать', edit_admin_chat_token_path(chat_token) %></td>
        <td><%= link_to 'Удалить', [:admin, chat_token], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый чат-токен', new_admin_chat_token_path %>