<%= form_for([:admin, region]) do |f| %>
  <% if region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(region.errors.count, "error") %> prohibited this region from being saved:</h2>

      <ul>
      <% region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kladr_code %>
    <%= f.text_field :kladr_code %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :kladr_type_short %>
    <%= f.text_field :kladr_type_short %>
  </div>

  <div class="field">
    <%= f.label :kladr_type %>
    <%= f.text_field :kladr_type %>
  </div>

  <div class="actions">
    <%= f.submit submit_russian_text "Регион" %>
  </div>
<% end %>
