<%= form_for([:admin, user]) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Электронная почта:</strong>
    <%= @user.email %>
  </div>

  <div style="color:red">Примечание: Логин пользователя (т.е. электронная почта) не меняется.</div><br>

  <div class="field">
    <%= f.label "Имя" %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label "Отчество" %>
    <%= f.text_field :middle_name %>
  </div>  

  <div class="field">
    <%= f.label "Фамилия" %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label "Дата рождения" %>
    <%= f.date_select :dob, :order => [:day, :month, :year], include_blank: true %>
  </div>  

  <div class="field">
    <%= f.label "Активен" %>
    <%= f.check_box :active %>
  </div>

  <div class="field">
    <%= f.label "Другой email, отличающийся от email-логина (????? по-моему, чушь)" %>
    <%= f.email_field :email_public %>
  </div>

  <div class="field">
    <%= f.label "Телефон" %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label "Опыт (Integer)" %>
    <%= f.text_field :experience %>
  </div>

  <div class="field">
    <%= f.label "Квалификация (а почему boolean?)" %>
    <%= f.check_box :qualification %>
  </div>

  <div class="field">
    <%= f.label "Цена (Float)" %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label "Баланс (Float)" %>
    <%= f.text_field :balance %>
  </div>  

  <div class="field">
    <%= f.label "Университет" %>
    <%= f.text_field :university %>
  </div>

  <div class="field">
    <%= f.label "Факультет" %>
    <%= f.text_field :faculty %>
  </div>

  <div class="field">
    <%= f.label "Год выпуска" %>
    <%= f.date_select :dob_issue, :order => [:day, :month, :year], include_blank: true %>
  </div>
  
  <div class="field">
    <%= f.label "Место работы" %>
    <%= f.text_field :work %>    
  </div>

  <div class="field">
    <%= f.label "Должность" %>
    <%= f.text_field :staff %>
  </div>

   <div class="field">
    <%= f.label "Роль" %>
    <%= f.collection_select :role_ids, Role.order(:title), :id, :title,
  # http://guides.rubyonrails.org/form_helpers.html#select-boxes-for-dealing-with-models
  # http://guides.rubyonrails.org/form_helpers.html#using-form-helpers
                  :prompt => 'Выберите роль' %>

  </div>

  <div class="field">
  <!-- http://stackoverflow.com/questions/5319400/want-to-find-records-with-no-associated-records-in-rails-3 -->
  <!-- http://apidock.com/rails/ActionView/Helpers/FormOptionsHelper/grouped_collection_select -->
    <%= f.label "Город" %>
      <%= f.grouped_collection_select(:city_ids, Region.includes(:cities).where.not(:cities => { :region_id => nil } ).order(:name), :cities, :name, :id, :name, {:include_blank => "Ничего не выбрано"})
      %>
  </div>

  <%= render 'layouts/uploaded_file', param: f %>  

  <div class="actions">
    <%= f.submit submit_russian_text "Пользователя" %>
  </div>
<% end %>
