<%= form_for([:admin, payment_type]) do |f| %>
  <% if payment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_type.errors.count, "error") %> prohibited this payment_type from being saved:</h2>

      <ul>
      <% payment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "payment_id" %>
    <%= f.text_field :payment_id %>
  </div>

  <div class="field">
    <%= f.label "payable_type" %>
    <%= f.text_field :payable_type %>
  </div>

  <div class="field">
    <%= f.label "payable_id" %>
    <%= f.text_field :payable_id %>
  </div>

  <div class="actions">
    <%= f.submit submit_russian_text "Платёжный тип" %>
  </div>
<% end %>

<%# console %>