<h3>Админка</h3>

<div id="admin_nav"> 
  <div class="table-responsive">
    <table class="admin_nav">
      <tbody>
        <tr>
          <td><%= link_to 'Вопросы', admin_questions_path %></td>
          <td><%= link_to 'Ответы', admin_responses_path %></td>
          <td><%= link_to 'Категории', admin_categories_path %></td>
          <td><%= link_to 'Комментарии', admin_comments_path %></td>          
          <td><%= link_to 'Пользователи', admin_users_path %></td>
        </tr>  
      </tbody>
    </table>
  </div>
</div>