<h3>Админка</h3>

<div id="admin_nav"> 
  <div class="table-responsive">
    <table class="admin_nav">
      <tbody>
        <tr>
          <td><%= link_to 'Вопросы (с комментариями)', admin_questions_path %></td>
          <!-- <td><%#= link_to 'Комментарии', admin_comments_path %></td> -->
          <td><%= link_to 'Категории', admin_categories_path %></td>
          <td><%= link_to 'Пользователи', admin_users_path %></td>
          <td><%= link_to 'Регионы', admin_regions_path %></td>
          <td><%= link_to 'Города', admin_cities_path %></td>
          <td><%= link_to 'IP-диапазоны', admin_ipranges_path %></td>
          <td><%= link_to 'Запросы на документ', admin_doc_requests_path %></td>
          <td><%= link_to 'Ответы на запрос документа', admin_doc_responses_path %></td>
          <td><%= link_to 'Правовые статьи', admin_lib_entries_path %></td>
          <td><%= link_to 'Сообщения', admin_messages_path %></td>
          <td><%= link_to 'Чат-сообщения', admin_chat_messages_path %></td>
          <td><%= link_to 'Гостевые чат-токены', admin_guest_chat_tokens_path %></td>          
        </tr>  
      </tbody>
    </table>
  </div>
</div>