<% f = param %>

<% if f.class.to_s == "ActionView::Helpers::FormBuilder" %>

  <% if f.object.respond_to? :avatar %>

    <div class="field">
      <%= f.label "Загруженный файл" %><br />  
      <% if f.object.avatar.file %>

        <% url = request.base_url.to_s + f.object.avatar.url %>
        <%= image_tag url  %><br>

          <%

          file_delete_params = {}

          file_delete_params[f.object.class.to_s.downcase.to_sym] = 
            {
              dummy_param: true
            }

            file_delete_params[:destroy_avatar] = true

          %>        

         <%= link_to "Удалить", helper_by_name2("admin_#{f.object.class.to_s.underscore}_path", f.object.id, file_delete_params), method: :patch, data: { confirm: 'Вы уверены?' } %>    
    
      <% end %>
    </div>

    <%= f.file_field :avatar %>

  <% end %>

<% else %>

  <% if f.respond_to? :avatar %>

    <strong>Загруженный файл:</strong>
    <p>
      <% if f.avatar.file %>

        <% url = request.base_url.to_s + f.avatar.url %>
        <%= image_tag url  %><br><br>

      <% end %>    
    </p>

  <% end %>

<% end %>

 <%# console %>