<% f = param %>

<% if f.class.to_s == "ActionView::Helpers::FormBuilder" %>

  <% if f.object.respond_to? :file_container %>

    <div class="field">
      <%= f.label "Загруженный файл" %><br />  
      <% if f.object.file_container && f.object.file_container.id %>

        <% url = request.base_url.to_s + f.object.file_container.file.to_s %>
        <%= image_tag url  %><br>

          <%

          file_delete_params = {}

          file_delete_params[f.object.class.to_s.downcase.to_sym] = 
            {              
              file_containers_attributes: { id: f.object.file_container.id, _destroy: true }
            }

          %>

          <%= link_to "Удалить", helper_by_name2("admin_#{f.object.class.to_s.underscore}_path", f.object.id, file_delete_params), method: :patch, data: { confirm: 'Вы уверены?' } %>

          <!-- admin_question_path(f.object.id, file_delete_params) -->        

          <br><br>
        
      <% end %>
    </div>

    <%= f.fields_for :file_container, FileContainer.new do |ff| %>
      <div class="field">
        <%= ff.label "Файл" %><br>
        <%= ff.file_field :file %>
      </div>
    <% end %>

  <% else %>

    <div class="field">
      <%= f.label "Загруженный файл" %><br />

      <% f.object.file_containers.each_with_index do |file_container, index| %>
        <% if file_container.id %>

          <% url = request.base_url.to_s + file_container.file.to_s %>

          <%= image_tag url  %><br>

          <%

          file_delete_params = {}

          file_delete_params[f.object.class.to_s.underscore.to_sym] = 
            {              
              file_containers_attributes: { id: file_container.id, _destroy: true }
            }

          %>

          <%= link_to "Удалить", helper_by_name2("admin_#{f.object.class.to_s.underscore}_path", f.object.id, file_delete_params), method: :patch, data: { confirm: 'Вы уверены?' } %>

          <br><br>
        <% end %>
      <% end %>
    </div>


    <%= f.fields_for :file_containers, FileContainer.new do |ff| %>
    <div class="field">
      <%= ff.label "Файл" %><br>
      <%= ff.file_field :file, :multiple => true, name: "#{f.object.class.to_s.underscore}[file_containers_attributes][][file]" %>      

    </div>
    <% end %>

  <% end %>

<% else %>

  <% if f.respond_to? :file_container %>

    <strong>Загруженный файл:</strong>
    <p>
      <% if f.file_container && f.file_container.id %>

        <% url = request.base_url.to_s + f.file_container.file.to_s %>
        <%= image_tag url  %><br><br>

      <% end %>    
    </p>

  <% else %>  

    <strong>Загруженные файлы:</strong>
    <p>  
      <% f.file_containers.each_with_index do |ff, index| %>

        <%= image_tag url  %><br>
        id: <%= ff.id %> &nbsp;<a href="<%= url %>" target="blank"><%= url %></a><br><br>

      <% end %>
    </p>

  <% end %>

<% end %>

 <%# console %>