<% if user_signed_in? %>

  <div>
    <%= link_to current_user.email, edit_admin_user_path(current_user), class: "logo-iconed" %> / <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  </div>

<% else %>

  <div>
    <%= link_to 'Регистрация', new_user_registration_path, class: "logo-iconed" %> / 
    <%= link_to 'Войти', new_user_session_path %>
    &nbsp;&nbsp;&nbsp;<span style="color:green">У всех тестовых пользователей (rake db:seed) пароль: "12345678"</span>
  </div>

<div>
  <li><%= link_to 'Войти через Vkontakte', user_vkontakte_omniauth_authorize_path %></li>
  <li><%= link_to 'Войти через Facebook', user_facebook_omniauth_authorize_path %></li>  
</div>  
  
<% end %>

